*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff6600;
}
#root{
    height: 30vh;
    width: 40vw;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #000;
    border-radius: 1rem;
    background: #fff;
}
#inp{
    height: 3vh;
    width: 15vw;
    margin-top: 2.5vh;
    font-size: 1.3rem;
    text-align: center;
    padding: 0rem 1.5rem 0rem 1.5rem;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

#root>div>h2{
    margin-top: 2.5vh;
}